body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;

  margin: 0;
  padding: 0;

  color: #283136;
  background-color: white;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  display: inline-block;

  vertical-align: middle;

  min-width: 240px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fb565a;
}

.main-header {
  padding-top: 49px;

  background-color: rgb(238,238,238);
}

.header-container,
.main-container,
.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: -webkit-flex;

  display: -moz-box;

  display: flex;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #000;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  width: 444px;
  margin: 0;
  margin-right: 236px;
  margin-left: 204px;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 4px;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:nth-child(2n) {
  margin-right: 46px;
}

.site-navigation li:nth-child(4n) {
  margin-right: 0;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 14px;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.user-navigation .basket {
  position: relative;
}

.basket::before {
  position: absolute;
  top: 17px;
  left: 2px;

  width: 15px;
  height: 15px;

  content: '';

  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px;
  -o-background-size: 15px;
  background-size: 15px;
}

.site-navigation a,
.user-navigation a {
  display: block;

  padding-top: 10px;

  vertical-align: middle;

  color: #000;
}

.user-navigation a {
  padding-left: 41px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0, .3);
}

.site-navigation a:focus,
.user-navigation a:focus {
  border-bottom: 2px solid #fb565a;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: .8;
}

.main-header-logo:active {
  opacity: .3;
}

.slider {
  position: relative;

  margin: 0;
  padding: 0;
}

.slider-controls {
  font-size: 0;

  position: absolute;
  z-index: 100;
  bottom: 104px;
  left: 50%;

  width: 160px;
  height: 18px;

  -webkit-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  -moz-transform: translateX(-50%);

  -o-transform: translateX(-50%);

  transform: translateX(-50%);
  text-align: center;
}

.slider-controls label {
  position: relative;

  display: inline-block;

  vertical-align: middle;

  width: 18px;
  height: 18px;
  padding: 8px;

  cursor: pointer;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;
}

.slider-controls label::after {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;

  width: 18px;
  height: 18px;

  content: '';

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;
  background: #fff;
}

.slider-container input:nth-of-type(1):checked ~ .slider-controls .slider-controls-item--1::before,
.slider-container input:nth-of-type(2):checked ~ .slider-controls .slider-controls-item--2::before,
.slider-container input:nth-of-type(3):checked ~ .slider-controls .slider-controls-item--3::before {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;
  margin: -4px;

  content: '';

  border: 2px solid #c1c1c1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: inherit;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

  margin: 0;
  padding: 78px 0 80px 0;
}

.slider-container input:nth-of-type(1):checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.slider-container input:nth-of-type(2):checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slider-container input:nth-of-type(3):checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slide-2.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url('../img/slide-3.png');
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  margin: 0;
  margin-bottom: 26px;

  color: black;
}

.slogan-additional {
  max-width: 420px;
  margin-bottom: 41px;
}

.slider-item:nth-child(2) .slogan-additional {
  max-width: 460px;
}

.slider-item:first-child .slogan {
  max-width: 380px;
}

.slider-item:nth-child(2) .slogan {
  max-width: 560px;
}

.slider-item:last-child .slogan {
  max-width: 460px;
}

.services {
  margin-bottom: 37px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin: 0;
  margin-top: 80px;
  padding: 0;

  list-style: none;

  border-bottom: 2px solid rgb(238,238,238);

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.services-item {
  width: 300px;
  margin-right: 100px;
  padding-top: 170px;
  padding-bottom: 80px;
}

.services-item:first-child {
  background-image: url('../img/illustration-1.png');
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url('../img/illustration-2.png');
  background-repeat: no-repeat;
}

.services-item:last-child {
  margin-right: 0;

  background-image: url('../img/illustration-3.png');
  background-repeat: no-repeat;
}

.services-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  text-transform: uppercase;

  color: #000;
}

.services-item p {
  margin-bottom: 34px;
  padding-right: 39px;
}

.services-button {
  min-width: 160px;
}

.about-studio {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.first-column {
  width: 660px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
}

.second-column {
  width: 360px;
  margin: 0;
  padding: 0;
}

.second-column img {
  padding-top: 5px;
}

.about-studio .feature {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;

  vertical-align: top;

  color: #000;
}

.orders span {
  font-weight: bold;

  padding-left: 3px;

  text-transform: uppercase;

  color: #000;
}

.first-column p:nth-of-type(2) {
  margin-bottom: 40px;
}

.second-column .period {
  font-weight: bold;

  margin-top: 28px;
  margin-bottom: 60px;

  text-align: center;
  text-transform: uppercase;

  color: #000;
}

.orders-list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-left: 35px;

  list-style: none;
}

.orders-item {
  position: relative;

  margin-bottom: 22px;
  margin-left: 2px;
}

.orders-item::before {
  position: absolute;
  top: 12px;
  left: -35px;

  width: 25px;
  height: 10px;

  content: '';

  border-top: 2px solid #fb565a;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.advantages .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  flex-direction: column-reverse;

  margin-right: 20px;
  width: 100px;
}

.advantages dt {
  line-height: 18px;
}

.advantages dd {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  color: #000;
}

.advantages sup {
  font-size: 30px;
}

.customers {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 75px;
  padding: 0;

  border-top: 2px solid rgb(238,238,238);
  border-bottom: 2px solid rgb(238,238,238);
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.customers-item {
  position: relative;

  padding-right: 20px;
  padding-left: 20px;
}

.customers-item:not(:last-child)::after {
  position: absolute;
  top: 60px;
  right: 0;

  width: 52px;
  height: 52px;

  content: '';

  border-right: 2px solid rgb(238,238,238);
}

.customers-item:first-child {
  padding-left: 0;
}

.customers-item:last-child {
  padding-right: 0;
}

.customers-item img {
  opacity: .2;
}

.customers-item img:hover {
  opacity: 1;
}

.customers-item img:active {
  opacity: .1;
}

.main-footer {
  margin-bottom: 70px;
}

.footer-contacts {
  margin-bottom: 55px;
}

.contacts-wrapper {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.contacts {
  font-size: 16px;
  line-height: 18px;

  position: absolute;
  top: 55px;
  left: 18px;

  max-width: 219px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 54px;

  color: #666;
  background-color: #fff;
}

.contacts p:first-of-type {
  max-width: 205px;
  margin: 0;
  margin-top: 20px;
}

.contacts p:last-of-type {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 40px;
}

.img-container {
  min-width: 1200px;
  height: 416px;
  margin: 0 auto;

  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.img-container iframe {
  width: 100%;
  height: 416px;
  border: none;
}

.contacts span {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  width: 260px;
  margin: 0;
  margin-top: 15px;
  margin-right: 140px;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  width: 79px;
  height: 79px;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;
  background-color: #e1e1e1;

  -webkit-box-align: center;

  -ms-flex-align: center;

  -webkit-align-items: center;

  -moz-box-align: center;

  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.social-button:active path {
  fill: rgba(255,255,255,.3);
}

.footer-social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;

  min-width: 560px;
  padding-top: 20px;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.footer-social p {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.footer-social p:first-of-type {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;

  padding-left: 3px;

  color: #000;
}

.footer-social p:last-of-type {
  line-height: 22px;

  color: #444;
}

.popup-open,
.button-submit {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background-color: #fb565a;
}

.services-item:nth-child(2) a {
  background-color: #00ca74;
}

.services-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.services-item:nth-child(2) a:active {
  color: rgba(255,255,255,.3);
  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
  box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.services-item:last-child a {
  background-color: #efc84a;
}

.services-item:last-child a:hover {
  background-color: #eab534;
}

.services-item:last-child a:active {
  background-color: rgba(255,255,255,.3);
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255,255,255,.3);
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

@-webkit-keyframes emergence {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  60% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  90% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes emergence {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  30% {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }

  60% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6) rotate(-90deg);
    transform: scale(0.6) rotate(-90deg);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@-o-keyframes emergence {
  0% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  30% {
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }

  60% {
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6) rotate(-90deg);
    transform: scale(0.6) rotate(-90deg);
  }

  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@keyframes emergence {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  30% {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3) rotate(90deg);
    -o-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }

  60% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6) rotate(-90deg);
    -o-transform: scale(0.6) rotate(-90deg);
    transform: scale(0.6) rotate(-90deg);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.popup {
  display: none;
  position: absolute;
  z-index: 2;
  top: 2440px;
  left: 50%;

  width: 760px;
  margin-left: -480px;
  padding-top: 69px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;

  background-color: #fff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  -moz-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
}

.popup-main {
  top: 1705px;
}

.popup-show {
  display: block;
  -webkit-animation-name: emergence;
  -moz-animation-name: emergence;
  -o-animation-name: emergence;
  animation-name: emergence;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.popup-error {
  -webkit-animation: shake 1.0s;
  -moz-animation: shake 1.0s;
  -o-animation: shake 1.0s;
  animation: shake 1.0s;
}

.popup-open {
  min-width: 219px;
  min-height: 20px;
}

.popup-close {
  font-size: 0;

  position: absolute;
  top: 80px;
  right: 87px;

  width: 22px;
  height: 22px;

  opacity: .3;
  border: 0;
  background-color: #fff;
  background-image: url('../img/close-cross.svg');
  background-repeat: no-repeat;
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: .1;
}

.popup div {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  margin-bottom: 24px;

  color: #000;
}

.feedback-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;

  margin-bottom: 18px;
  margin-left: 40px;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.feedback-item:nth-child(3) {
  margin-bottom: 45px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin-left: -40px;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.feedback-item label {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;

  margin-bottom: 10px;

  color: #000;
}

.feedback-item input,
.feedback-item textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: 2px solid #d7dcde;
}

.feedback-item input {
  width: 360px;
  padding-top: 11px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.feedback-item textarea {
  width: 760px;
  min-height: 118px;
  padding-top: 10px;
  padding-left: 15px;

  resize: none;
}

.feedback-item input::-webkit-input-placeholder,
.feedback-item textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;

  color: rgba(68,68,68, .5);
}

.feedback-item input:-ms-input-placeholder,
.feedback-item textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;

  color: rgba(68,68,68, .5);
}

.feedback-item input::-ms-input-placeholder,
.feedback-item textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;

  color: rgba(68,68,68, .5);
}

.feedback-item input:-moz-placeholder,
.feedback-item textarea:-moz-placeholder {
  font-size: 16px;
  line-height: 18px;

  color: rgba(68,68,68, .5);
}

.feedback-item input::-moz-placeholder,
.feedback-item textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;

  color: rgba(68,68,68, .5);
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  font-size: 16px;
  line-height: 18px;

  color: rgba(68,68,68, .5);
}

.button-submit {
  min-width: 260px;
  margin-left: 40px;
  padding: 17px 0;
}

.feedback-item input[type='text']:hover,
.feedback-item input[type='email']:hover,
.feedback-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-item input[type='text']:focus,
.feedback-item input[type='email']:focus,
.feedback-item textarea:focus {
  border: 2px solid #000;
}

.feedback-item input[type='text']:focus::-webkit-input-placeholder {
  color: #444;
}

.feedback-item input[type='text']:focus:-ms-input-placeholder {
  color: #444;
}

.feedback-item input[type='text']:focus::-ms-input-placeholder {
  color: #444;
}

.feedback-item input[type='text']:focus:-moz-placeholder {
  color: #444;
}

.feedback-item input[type='text']:focus::-moz-placeholder {
  color: #444;
}

.feedback-item input[type='text']:focus::placeholder {
  color: #444;
}


.feedback-item input[type='email']:focus::-webkit-input-placeholder {
  color: #444;
}


.feedback-item input[type='email']:focus:-ms-input-placeholder {
  color: #444;
}


.feedback-item input[type='email']:focus::-ms-input-placeholder {
  color: #444;
}


.feedback-item input[type='email']:focus:-moz-placeholder {
  color: #444;
}


.feedback-item input[type='email']:focus::-moz-placeholder {
  color: #444;
}


.feedback-item input[type='email']:focus::placeholder {
  color: #444;
}

.feedback-item textarea:focus::-webkit-input-placeholder {
  color: #444;
}

.feedback-item textarea:focus:-ms-input-placeholder {
  color: #444;
}

.feedback-item textarea:focus::-ms-input-placeholder {
  color: #444;
}

.feedback-item textarea:focus:-moz-placeholder {
  color: #444;
}

.feedback-item textarea:focus::-moz-placeholder {
  color: #444;
}

.feedback-item textarea:focus::placeholder {
  color: #444;
}

.feedback-item input[type='text']:invalid,
.feedback-item input[type="email"]:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  margin: 0;
  margin-top: 56px;
  margin-bottom: 55px;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 110px;

  text-align: center;

  color: #000;
}

.container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.filters {
  width: 260px;
  margin-right: 140px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 55px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 30px;
}

.filter legend {
  font-size: 17.5px;
  font-weight: bold;
  line-height: 31.5px;

  text-transform: uppercase;

  color: #000;
}

.filter legend:first-of-type {
  margin-bottom: 45px;

  letter-spacing: .2px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  -webkit-border-radius: 5px;

  -moz-border-radius: 5px;

  border-radius: 5px;
  background-color: #eee;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  cursor: pointer;

  border: 8px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  -moz-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;

  display: inline-block;

  vertical-align: baseline;

  width: 50%;

  text-transform: uppercase;
}

.price-controls input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;

  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  text-align: center;

  color: #283136;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
}

.max-price {
  text-align: right;
}

.filter ul {
  line-height: 20px;

  margin: 0;
  margin-top: -30px;
  padding: 0;

  list-style: none;

  color: #283136;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input-radio + label::before {
  position: absolute;
  left: -36px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  display: none;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  top: 0;
  left: -36px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: 0;
  left: -36px;

  width: 23px;
  height: 23px;

  content: '';

  opacity: .4;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: 0;
  left: -36px;

  width: 27px;
  height: 23px;

  content: '';

  opacity: .4;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after {
  opacity: .1;
}

.filter-option input:hover + label {
  color: #000;
}

.filter-option input[type='checkbox']:not(:disabled):hover + label {
  color: #283136;
}

.filter-option input:disabled + label {
  color: rgba(40,49,54,.3);
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  min-width: 260px;

  color: #000;
  border: none;
  background-color: #eee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
  box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.inner-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.sorting-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin-bottom: 50px;

  text-transform: uppercase;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin: 0;
  margin-left: 240px;
  padding: 0;

  width: 300px;
  
  -ms-flex-wrap: wrap;
  
  -webkit-flex-wrap: wrap;
  
  flex-wrap: wrap;
}

.sorting b {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  padding-right: 27px;

  color: #000;
}

.sorting-list {
  list-style: none;
}

.sorting-item {
  margin-right: 25px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 17.5px;

  color: rgba(0,0,0,.3);
}

.sorting-item a:hover {
  color: rgba(0,0,0,.6);
}

.sorting-item a:focus,
.sorting-item a:active,
.sorting-item-current a {
  color: #000;
}

.switches {
  position: relative;
}

.downbutton::before {
  position: absolute;
  top: 9px;
  left: 20px;

  width: 11px;
  height: 10px;

  content: '';

  opacity: 1;
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
}

.topbutton::before {
  position: absolute;
  top: 9px;
  left: 50px;

  width: 11px;
  height: 10px;

  content: '';

  opacity: .2;
  background-image: url('../img/icon-up-dir.svg');
  background-repeat: no-repeat;
}

.downbutton:hover::before,
.topbutton:hover::before {
  opacity: .6;
}

.downbutton:focus::before,
.topbutton:focus::before,
.downbutton:active::before,
.topbutton:active::before {
  opacity: 1;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: -webkit-flex;

  display: -moz-box;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  flex-direction: column-reverse;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 35px;
  padding-top: 7px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::after {
  position: absolute;
  top: 0;

  width: 360px;
  height: 40px;

  content: '';

  opacity: 0.12;
  background-image: url('../img/browser.svg');
  background-repeat: no-repeat;
}

.catalog-item:hover::after {
  opacity: 1;
}

.catalog-item > p {
  position: relative;

  margin: 0;
  padding: 0;
}

.catalog-item div {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: -webkit-flex;

  display: -moz-box;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;

  width: 360px;
  min-height: 231px;

  background-color: rgb(238,238,238);

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.catalog-item:not(:hover) div {
  display: none;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;

  color: #000;
}

.catalog-category {
  font-size: 16px;
  line-height: 18px;

  max-width: 240px;

  text-align: center;

  color: #666;
}

.catalog-item-price {
  margin-top: 30px;
  margin-bottom: 33px;
}

.button-price {
  min-width: 200px;
}

.catalog-item img {
  display: block;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  border: 1px solid rgba(77,77,77,.12);
}

.catalog-item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, .25);
  -moz-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, .25);
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, .25);
}

.catalog-item-price:hover {
  background-color: #e74246;
}

.catalog-item-price:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
  box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  margin: 0;
  margin-top: 25px;
  margin-bottom: 55px;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
}

.pagination-item {
  margin: 0;
  margin-right: 11px;
  padding: 0;

  background-color: #eee;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  display: inline-block;

  vertical-align: baseline;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
  min-width: 50px;
  height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 3px solid transparent;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: rgb(0,0,0);
}

.pagination-item:last-child a {
  min-width: 260px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item-current a,
.pagination-item a:focus {
  border: 3px solid #dbdbdb;
  background-color: #fff;
}

.pagination-item a:active {
  position: relative;
  border: 3px solid #d5d5d5;
  color: rgba(0, 0, 0, .3);
  background-color: #d5d5d5;
}

.pagination-item a:active::before {
  content: '';
  bottom: -3px;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  -moz-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
  left: -3px;
  position: absolute;
  right: -3px;
  top: -3px;
}